body {
    background-color: red;
    min-height: 100vh;
}

.couleurtext {
    text-align: center;
    color: white;
}

.couleurtext2 {
    color: white;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}
#page-container {
    position: relative;
    min-height: 100vh;
    padding-bottom: 200px;
}
.positionrecherche {
    left: 500px;
    width: 100%;
}

.offredata {
    font-size: 20px;
    color: white;

}

.offredata2 {

}

.textcard {
    font-size: 20px;
}

.navbarcolor {
    color: white;
}

.barrederecherches {
    color: #8707ff;
    border: 2px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 190px;
}

.input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
}

.bg-purple {
    background-color: rgb(81, 28, 118);
}

.textboutoncard {

    background-color: #7332be;
}

.barredubas {
    background-color: rebeccapurple;
}

.taillecherche {

    right: 500px;
    width: 50px;
}

.pageHome {
    background-image: url("../image/megacastingbackground.jpg");
    background-size: cover;
}

.navigation {

    background-image: url("../image/navbarback.PNG");
    background-size: cover;
    height: 70px;


}

.backgroundcarte {

    background-color: #ad1ec7;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-image: url("../image/cardback.PNG");
    background-size: cover;

}
.libel {

    font-size: 14px;
}

.filtrage{
    color: white;
}
:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Archivo", sans-serif;
    background-color: #192824;
}

p {
    margin: calc(50vh - 40px) auto 0 auto;
    font-size: 15px;
    text-transform: uppercase;
    font-family: "Archivo Black", "Archivo", sans-serif;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
}

.logo-1 {
    color: white;
    animation: neon 3s infinite;
    text-align: center;
}

@keyframes neon {
    0% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
        0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
        text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
        0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }


}


